In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

In [11]:
#load the csv file
data=pd.read_csv("Entertainment.csv")
data.head()

,Id,Titles,Category,Reviews
0,6973,Toy Story (1995),"Drama, Romance, School, Supernatural",-8.98
1,6778,Jumanji (1995),"Action, Adventure, Drama, Fantasy, Magic, Mili...",8.88
2,9702,Grumpier Old Men (1995),"Action, Comedy, Historical, Parody, Samurai, S...",99.00
3,6769,Waiting to Exhale (1995),"Sci-Fi, Thriller",99.00
4,1123,Father of the Bride Part II (1995),"Action, Comedy, Historical, Parody, Samurai, S...",-0.44

In [19]:
#step 1: Normalize the review scores
#We MinMaxscaler to scale the review between 0 to 1
scaler=MinMaxScaler()
data["Normalized_Reviews"]=scaler.fit_transform(data[["Reviews"]])

In [21]:
#step 2: compute the cosine similarity between titles based on the normalized reviews
cosine_sim_reviews=cosine_similarity(data[["Normalized_Reviews"]],data[["Normalized_Reviews"]])

In [25]:
#step 3 : create function to recommend title based on review similarity
def get_recommendations(title,cosine_sim=cosine_sim_reviews): 
    #get the index of the title that matches the input 
    idx= data[data['Titles']==title].index[0]

    #Get the pairwise similaritry scores of all titles with that tiles
    sim_scores=list(enumerate(cosine_sim[idx]))
    sim_scores
    #sort the titles based on the similarity scores in descending order
    sim_scores=sorted(sim_scores,key=lambda x: x[1],reverse=True)   
    #get the indeices of most similar titles
    sim_indices=[i[0] for i in sim_scores[1:6]]
    #Return the top 5 most similar titles
    return data['Titles'].iloc[sim_indices]

In [31]:
#Test the recommendation system with an example
example="Toy Story (1995)"
recommended_titles =get_recommendations(example)

In [35]:
#print the recommendation
print(f"Collabrative Recommendation for'{example}':")
for title in recommended_titles:
    print(title)

Collabrative Recommendation for'Toy Story (1995)':
Jumanji (1995)
Grumpier Old Men (1995)
Waiting to Exhale (1995)
Father of the Bride Part II (1995)
Heat (1995)